<!--
An element for fetching Musubio channels

Example:

    <channel-details></channel-details>

@element channel-details
-->
<dom-module id="channel-details">
  <template>
    <iron-ajax
      auto
      url="https://musubio-player-api.appspot.com/_ah/api/musubio/v1/channels/{{channelId}}"
      handle-as="json"
      last-response="{{channel}}">
    </iron-ajax>

    <iframe
        width="800"
        height="450"
        src="https://www.youtube.com/embed/{{channel.videos.1.video_id}}?rel=0&amp;showinfo=0&autoplay=1&controls=1&start=123"
        frameborder="0"
        allowfullscreen>
    </iframe>
    <div class="current-video">
      <h1>{{channel.videos.0.title}}</h1>
      <div>{{channel.videos.0.description}}</div>
    </div>

    <div class="channel-info">
      <h3>{{channel.title}}</h3>
      <div>{{channel.description}}</div>
    </div>

    <h2>Playlist</h2>
    <template class="playlist" is="dom-repeat" items="{{channel.videos}}" as="video">
      <img src="{{video.image.medium}}">
    </template>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

  </template>
</dom-module>

<script>
  Polymer({
    is: 'channel-details',
    properties: {

    }
  });
</script>