<dom-module id="main-controller">
  <template>
    <paper-material id="musubio-player" class$="player-view-mode-[[playerViewMode]]" elevation="3"></paper-material>
    <paper-toast id="toast" text="Hello world!"></paper-toast>

    <paper-drawer-panel id="drawer-panel">
      <paper-header-panel drawer>
        <paper-toolbar id="nav-toolbar">
          <div>
            <iron-icon icon="av:play-circle-filled"></iron-icon>
            Musubio Player
          </div>
        </paper-toolbar>

        <paper-menu class="nav">
          <a href="#">
            <paper-item>
              <iron-icon icon="view-array"></iron-icon>
              Channels
            </paper-item>
          </a>

          <!--<a href="#/trending">-->
            <!--<paper-item>-->
              <!--<iron-icon icon="assessment"></iron-icon>-->
              <!--Trending-->
            <!--</paper-item>-->
          <!--</a>-->

          <a href="#/search">
            <paper-item>
              <iron-icon icon="search"></iron-icon>
              Search
            </paper-item>
          </a>

          <div class="nav-divider"></div>

          <!--<div class="title">Your Stuff</div>-->

          <!--<a href="#">-->
            <!--<paper-item>-->
              <!--<iron-icon icon="av:video-library"></iron-icon>-->
              <!--History-->
            <!--</paper-item>-->
          <!--</a>-->

          <!--<a href="#/channels">-->
            <!--<paper-item>-->
              <!--<iron-icon icon="view-array"></iron-icon>-->
              <!--Channels (10)-->
            <!--</paper-item>-->
          <!--</a>-->

          <!--<a href="#">-->
            <!--<paper-item>-->
              <!--<iron-icon icon="favorite-border"></iron-icon>-->
              <!--Favorites (3)-->
            <!--</paper-item>-->
          <!--</a>-->

        </paper-menu>
      </paper-header-panel>

      <paper-header-panel main>
        <paper-toolbar id="main-toolbar">
          <!--<paper-icon-button icon="menu" on-tap="menuAction"></paper-icon-button>-->
          <div class="title">Watch Together</div>
          <!--<paper-icon-button icon="more-vert" on-tap="moreAction"></paper-icon-button>-->
        </paper-toolbar>

        <div id="content-body">
          <template is="dom-bind">
            <app-router>
              <app-route path="/" import="/components/channel-list.html"></app-route>
              <app-route path="/trending" import="/components/channels-trending.html"></app-route>
              <app-route path="/channels" import="/components/channel-list.html"></app-route>
              <app-route path="/search" import="/components/search-youtube.html"></app-route>
              <app-route path="/channels/:channelId" import="/components/channel-details.html"></app-route>
              <!--<app-route path="*" import="/components/404.html"></app-route>-->
            </app-router>
          </template>
        </div>

      </paper-header-panel>

    </paper-drawer-panel>

    <player-toolbar id="player-toolbar"></player-toolbar>
    <channel-history></channel-history>
  </template>
</dom-module>

<script>
  var mainController;
  var playerViewMode = 'main';

  Polymer({
    is: 'main-controller',
    ready: function() {
      console.log('ready()');

      mainController = document.querySelector('main-controller');
      mainController.$['player-toolbar'].playerViewMode = playerViewMode;
    },
    properties: {
      playerViewMode: {
        type: String,
        value: playerViewMode
      }
    },
    onChannelChange: function(channel) {
      console.log('onChannelChange()');

      mainController.$['player-toolbar'].changeChannel(channel);
    },
    setPlayerViewMode: function(viewMode) {
      console.log('setPlayerViewMode()');
      console.log(viewMode);

      this.playerViewMode = viewMode;
      mainController.$['player-toolbar'].playerViewMode = viewMode;
    },
    showToast: function(message) {
      var toast = this.$.toast;

      toast.text = message;
      toast.open();
    }
  });
</script>