<!--
An element for searching videos on YouTube

Example:

    <search-youtube></search-youtube>

@element search-youtube
-->
<dom-module id="search-youtube">
  <template>
    <iron-ajax
      auto
      url="[[musubioApiHost]]/_ah/api/musubio/v1/youtube/search?q=[[q]]"
      handle-as="json"
      last-response="{{response}}">
    </iron-ajax>

    <div>
      <input type="text" value="{{q::change}}">
      <br /><br />
    </div>

    <h2>YouTube Videos</h2>
    <template class="video-list" is="dom-repeat" items="[[response.videos]]" as="video">
      <paper-card class="item-list">
        <div class="info">
          <div class="image">
            <img src="{{video.thumbnail.medium}}">
          </div>
          <div class="content">
            <a href="{{video.videoURL}}" class="title">{{video.title}}</a>
          </div>
        </div>
      </paper-card>
    </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'search-youtube',
    ready: function() {
      console.log('ready() from search-youtube');

      mainController.setPlayerViewMode('toolbar');
    },
    properties: {
      musubioApiHost: {
        type: String,
        value: musubioApiHost
      },
      q: {
        value: 'cats',
        notify: true
      }
    }
  });
</script>