<link rel="import" href="/static/bower_components/paper-progress/paper-progress.html">

<!--
A static player toolbar at the bottom of the app.

Example:

    <player-toolbar></player-toolbar>

-->
<dom-module id="player-toolbar">
  <template>
    <iron-ajax
      auto
      url="[[musubioApiHost]]/_ah/api/musubio/v1/channels/[[channelId]]"
      handle-as="json"
      on-response="responseChannel"
      last-response="{{channel}}">
    </iron-ajax>

    <div style="display: [[playerVisibility]]">
      <paper-progress value="[[videoProgress]]"></paper-progress>

      <paper-toolbar class$="player-toolbar-view-mode-[[playerViewMode]]" elevation="1">
        <div class="video-details">
          <div class="title">[[video.title]]</div>
          <div class="playlist">[[channel.title]]</div>

          <iron-icon icon="open-in-new" class="hover player-action-button main" on-tap="changePlayerViewModeMain"></iron-icon>
          <iron-icon icon="open-in-new" class="hover player-action-button   toolbar" on-tap="changePlayerViewModeToolbar"></iron-icon>
        </div>
      </paper-toolbar>
    </div>
  </template>
</dom-module>

<script src="/static/scripts/js/musubio-channel.js"></script>
<script>
  var musubioChannel;

  // Create YouTube iFrame API elements.
  var tag = document.createElement('script');
  var firstScriptTag = document.getElementsByTagName('script')[0];

  Polymer({
    is: 'player-toolbar',
    ready: function() {
      console.log('ready()');

      // Load YouTube iFrame API.
      tag.src = "https://www.youtube.com/iframe_api";
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    },
    attached: function() {
      console.log('attached()');

      // Load Musubio player.
      musubioChannel = new MusubioChannel();
      musubioChannel.setOnVideoChangeObserver(this);
      musubioChannel.setOnVideoProgressObserver(this);
    },
    properties: {
      musubioApiHost: {
        type: String,
        value: musubioApiHost
      },
      playerVisibility: {
        type: String,
        value: 'none'
      },
      playerViewMode: {
        type: String
      },
      channelId: {
        type: Number
      },
      videoProgress: {
        type: Number,
        value: 0
      }
    },
    changeChannel: function(channel) {
      console.log('changeChannel()');

      musubioChannel.changeChannel(channel);
      this.playerVisibility = 'block';

      // Create a channel view history.
      console.log(channel.id);
    },
    responseChannel: function(request) {
      // Get the channel/video data from the API response.
      var channel = request.detail.response;
    },
    onVideoChange: function(channel, video) {
      console.log('onVideoChange()');

      this.channel = channel;
      this.video = video;
    },
    onVideoProgress: function(progress) {
      this.videoProgress = progress;
    },
    setPlayerViewMode: function(mode) {
      console.log('setPlayerViewMode()');
      console.log('mode:', mode);
      this.playerViewMode = mode;
      mainController.playerViewMode = mode;
    },
    changePlayerViewModeMain: function() {
      console.log('changePlayerViewModeMain()');
      this.setPlayerViewMode('main');
    },
    changePlayerViewModeToolbar: function() {
      console.log('changePlayerViewModeToolbar()');
      this.setPlayerViewMode('toolbar');
    }
  });

  /**
   * Callback when the YouTube iFrame API is loaded and ready.
   *
   * @todo error handling if the iFrame API is not available (404).
   */
  function onYouTubeIframeAPIReady() {
    console.log('onYouTubeIframeAPIReady()');

    musubioChannel.initializePlayers();
  }
</script>