<link rel="import" href="/static/bower_components/iron-ajax/iron-ajax.html">

<!--
A static player toolbar at the bottom of the app.

Example:

    <player-toolbar></player-toolbar>

-->
<dom-module id="player-toolbar">
  <template>
    <iron-ajax
      auto
      url="[[apiHost]]/_ah/api/musubio/v1/channels/[[channelId]]"
      handle-as="json"
      on-response="responseChannel"
      last-response="{{channel}}">
    </iron-ajax>

    <paper-toolbar elevation="1">
      <div class="video-details">
        <div class="title">[[video.title]]</div>
        <div class="playlist">[[channel.title]]</div>
      </div>
    </paper-toolbar>
  </template>
</dom-module>

<script src="/static/scripts/js/musubio-channel.js"></script>
<script>
  var musubioChannel;

  // Create YouTube iFrame API elements.
  var tag = document.createElement('script');
  var firstScriptTag = document.getElementsByTagName('script')[0];

  Polymer({
    is: 'player-toolbar',
    changeChannel: function(channel) {
      console.log('changeChannel()');

      musubioChannel.changeChannel(channel);
    },
    properties: {
      apiHost: {
        type: String,
        value: musubioApiHost
      },
      channelId: {
        type: Number
      }
    },
    responseChannel: function(request) {
      // Load YouTube iFrame API.
      tag.src = "https://www.youtube.com/iframe_api";
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // Get the channel/video data from the API response.
      var channel = request.detail.response;
      musubioChannel = new MusubioChannel();
      musubioChannel.setOnVideoChangeObserver(this);
    },
    onVideoChange: function(channel, video) {
      console.log('onVideoChange()');

      this.channel = channel;
      this.video = video;
    }
  });

  /**
   * Callback when the YouTube iFrame API is loaded and ready.
   */
  function onYouTubeIframeAPIReady() {
    musubioChannel.initializePlayers();
  }
</script>