<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<!--
An element for fetching GitHub issues

Example:

    <youtube-search></youtube-search>

@group Seed Elements
@element youtube-search
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="youtube-search">
  <template>
    <iron-ajax
      auto
      url="{{url}}"
      handle-as="json"
      last-response="{{response}}"></iron-ajax>

    <div>
      <input type="text" value="{{q::change}}">
      <br /><br />
    </div>

    <template class="video-list" is="dom-repeat" items="{{response.items}}" as="video">
      <paper-card class="video">
        <div class="info">
          <div class="image">
            <img src="{{video.thumbnailMediumURL}}">
          </div>
          <div class="content">
            <a href="{{video.videoURL}}" class="title">{{video.title}}</a>
          </div>
        </div>
      </paper-card>
    </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'youtube-search',

    properties: {
      q: {
        value: 'sfgiants',
        notify: true
      },
      url: {
        computed: 'computeUrl(q)'
      }
    },

    computeUrl: function(q) {
      return 'http://local.api.musubio.com/videos/search?q=' + q;
    }
  });
</script>