/* line 3, ../sass/main.scss */
body {
  /* Globals */
  font-family: "Roboto", arial, "Noto Sans Japanese", sans-serif !important;
  margin: 0;
  /* Text helpers */
  /* Template */
}
/* line 8, ../sass/main.scss */
body a {
  text-decoration: none;
  color: #333333;
}
/* line 13, ../sass/main.scss */
body .hidden {
  display: none;
}
/* line 18, ../sass/main.scss */
body .quiet {
  font-size: .8em;
  color: #999999;
}
/* line 23, ../sass/main.scss */
body .loud {
  font-size: 1.1em;
}
/* line 27, ../sass/main.scss */
body input[type="text"] {
  width: 100%;
  font-size: 2.0em;
  color: #666666;
}
/* line 34, ../sass/main.scss */
body [drawer] {
  background-color: #ffffff;
}
/* line 37, ../sass/main.scss */
body [drawer] paper-toolbar#nav-toolbar {
  background-color: #ffffff !important;
  color: #2ca94f;
  font-size: 1.2em;
}
/* line 42, ../sass/main.scss */
body [drawer] paper-toolbar#nav-toolbar iron-icon {
  margin-bottom: 2px;
}
/* line 47, ../sass/main.scss */
body [drawer] paper-menu.nav {
  font-size: .9em;
}
/* line 50, ../sass/main.scss */
body [drawer] paper-menu.nav .title {
  margin: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 56, ../sass/main.scss */
body [drawer] paper-menu.nav paper-item {
  padding: 10px 15px;
  display: block;
}
/* line 61, ../sass/main.scss */
body [drawer] paper-menu.nav .nav-divider {
  height: 1px;
  background-color: gainsboro;
  margin: 15px 0;
}
/* line 69, ../sass/main.scss */
body [main] {
  background-color: #f9f9f9;
}
/* line 72, ../sass/main.scss */
body [main] .content {
  padding: 15px;
}
/* line 77, ../sass/main.scss */
body paper-toolbar#main-toolbar {
  background-color: #2ca94f !important;
  color: #ffffff;
}
/* line 81, ../sass/main.scss */
body paper-toolbar#main-toolbar .title {
  margin-left: 0px;
  line-height: 30px;
  vertical-align: middle;
}
/* line 88, ../sass/main.scss */
body paper-drawer-panel:not([narrow]) #navicon {
  display: none;
}
/* line 92, ../sass/main.scss */
body #player-toolbar {
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 100px;
}
/* line 98, ../sass/main.scss */
body #player-toolbar paper-progress {
  width: 100%;
  height: 7px;
}
/* line 103, ../sass/main.scss */
body #player-toolbar paper-toolbar {
  height: 100px;
  background: #333333;
}
/* line 107, ../sass/main.scss */
body #player-toolbar paper-toolbar #topBar {
  height: 100%;
}
/* line 112, ../sass/main.scss */
body #player-toolbar paper-toolbar .video-details .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 118, ../sass/main.scss */
body #player-toolbar paper-toolbar .video-details .playlist {
  font-weight: normal;
}
/* line 124, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-main .video-details {
  text-align: center;
  margin: 0 auto;
}
/* line 131, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-toolbar .video-details {
  margin-left: 370px;
}

/* line 139, ../sass/main.scss */
#musubio-player {
  position: absolute;
  z-index: 100;
  display: none;
}
/* line 144, ../sass/main.scss */
#musubio-player.player-view-mode-toolbar {
  bottom: 10px;
  left: 15px;
}
/* line 148, ../sass/main.scss */
#musubio-player.player-view-mode-toolbar .player {
  width: 356px;
  height: 200px;
}
/* line 154, ../sass/main.scss */
#musubio-player.player-view-mode-main {
  top: 80px;
  left: 270px;
}
/* line 158, ../sass/main.scss */
#musubio-player.player-view-mode-main .player {
  width: 800px;
  height: 450px;
}

/* Pages */
/* line 166, ../sass/main.scss */
paper-card.item-list {
  width: 210px;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* line 171, ../sass/main.scss */
paper-card.item-list .info {
  position: relative;
  overflow: hidden;
}
/* line 175, ../sass/main.scss */
paper-card.item-list .info .image {
  margin-left: -90px;
}
/* line 178, ../sass/main.scss */
paper-card.item-list .info .image img {
  height: 210px;
}
/* line 183, ../sass/main.scss */
paper-card.item-list .info .content {
  padding: 10px;
}
/* line 186, ../sass/main.scss */
paper-card.item-list .info .content .title {
  font-size: .9em;
}

/* Polymer Overrides */
/* line 198, ../sass/main.scss */
#primaryProgress.paper-progress {
  background-color: #cc0000 !important;
  height: 7px;
}

/* line 203, ../sass/main.scss */
#progressContainer.paper-progress {
  height: 7px !important;
}
