/* line 3, ../sass/main.scss */
body {
  /* Globals */
  font-family: "Roboto", arial, "Noto Sans Japanese", sans-serif !important;
  margin: 0;
  /* Text helpers */
  /* Template */
}
/* line 8, ../sass/main.scss */
body a {
  text-decoration: none;
  color: #333333;
}
/* line 13, ../sass/main.scss */
body .hidden {
  display: none;
}
/* line 18, ../sass/main.scss */
body .quiet {
  font-size: .8em;
  color: #999999;
}
/* line 23, ../sass/main.scss */
body .loud {
  font-size: 1.1em;
}
/* line 27, ../sass/main.scss */
body .hover {
  cursor: pointer;
}
/* line 31, ../sass/main.scss */
body input[type="text"] {
  width: 100%;
  font-size: 2.0em;
  color: #666666;
}
/* line 38, ../sass/main.scss */
body [drawer] {
  background-color: #ffffff;
}
/* line 41, ../sass/main.scss */
body [drawer] paper-toolbar#nav-toolbar {
  background-color: #ffffff !important;
  color: #2ca94f;
  font-size: 1.2em;
}
/* line 46, ../sass/main.scss */
body [drawer] paper-toolbar#nav-toolbar iron-icon {
  margin-bottom: 2px;
}
/* line 51, ../sass/main.scss */
body [drawer] paper-menu.nav {
  font-size: .9em;
}
/* line 54, ../sass/main.scss */
body [drawer] paper-menu.nav .title {
  margin: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 60, ../sass/main.scss */
body [drawer] paper-menu.nav paper-item {
  padding: 10px 15px;
  display: block;
}
/* line 65, ../sass/main.scss */
body [drawer] paper-menu.nav .nav-divider {
  height: 1px;
  background-color: gainsboro;
  margin: 15px 0;
}
/* line 73, ../sass/main.scss */
body [main] {
  background-color: #f9f9f9;
}
/* line 76, ../sass/main.scss */
body [main] .content {
  padding: 15px 15px 150px 15px;
}
/* line 81, ../sass/main.scss */
body paper-toolbar#main-toolbar {
  background-color: #2ca94f !important;
  color: #ffffff;
}
/* line 85, ../sass/main.scss */
body paper-toolbar#main-toolbar .title {
  margin-left: 0;
  line-height: 30px;
  vertical-align: middle;
}
/* line 92, ../sass/main.scss */
body paper-drawer-panel:not([narrow]) #navicon {
  display: none;
}
/* line 96, ../sass/main.scss */
body #player-toolbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  z-index: 101;
}
/* line 104, ../sass/main.scss */
body #player-toolbar paper-progress {
  width: 100%;
  height: 7px;
}
/* line 109, ../sass/main.scss */
body #player-toolbar paper-toolbar {
  height: 100px;
  background: #666666;
}
/* line 113, ../sass/main.scss */
body #player-toolbar paper-toolbar #topBar {
  height: 100%;
}
/* line 117, ../sass/main.scss */
body #player-toolbar paper-toolbar .video-details {
  color: #fff;
}
/* line 120, ../sass/main.scss */
body #player-toolbar paper-toolbar .video-details .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 126, ../sass/main.scss */
body #player-toolbar paper-toolbar .video-details .playlist {
  font-weight: normal;
}
/* line 131, ../sass/main.scss */
body #player-toolbar paper-toolbar .player-action-button {
  width: 20px;
}
/* line 134, ../sass/main.scss */
body #player-toolbar paper-toolbar .player-action-button.toolbar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 144, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-main .player-action-button.main {
  display: none;
}
/* line 148, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-main .player-action-button.toolbar {
  display: inline-block;
}
/* line 152, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-main .video-details {
  text-align: center;
  margin: 0 auto;
}
/* line 159, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-toolbar .player-action-button.main {
  display: inline-block;
}
/* line 163, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-toolbar .player-action-button.toolbar {
  display: none;
}
/* line 167, ../sass/main.scss */
body #player-toolbar paper-toolbar.player-toolbar-view-mode-toolbar .video-details {
  margin-left: 370px;
}

/* line 175, ../sass/main.scss */
#musubio-player {
  position: absolute;
  display: none;
}
/* line 179, ../sass/main.scss */
#musubio-player.player-view-mode-toolbar {
  bottom: 10px;
  left: 15px;
  z-index: 105;
}
/* line 184, ../sass/main.scss */
#musubio-player.player-view-mode-toolbar .player {
  width: 356px;
  height: 200px;
}
/* line 190, ../sass/main.scss */
#musubio-player.player-view-mode-main {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
/* line 196, ../sass/main.scss */
#musubio-player.player-view-mode-main .player {
  position: relative;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  margin-top: 100px;
}

/* Pages */
/* line 207, ../sass/main.scss */
paper-card.item-list {
  width: 210px;
  margin-right: 15px;
  margin-bottom: 15px;
}
/* line 212, ../sass/main.scss */
paper-card.item-list .info {
  position: relative;
  overflow: hidden;
}
/* line 216, ../sass/main.scss */
paper-card.item-list .info .image {
  margin-left: -90px;
}
/* line 219, ../sass/main.scss */
paper-card.item-list .info .image img {
  height: 210px;
}
/* line 224, ../sass/main.scss */
paper-card.item-list .info .content {
  padding: 10px;
}
/* line 227, ../sass/main.scss */
paper-card.item-list .info .content .title {
  font-size: .9em;
}

/* Polymer Overrides */
/* line 239, ../sass/main.scss */
#primaryProgress.paper-progress {
  background-color: #cc0000 !important;
  height: 7px;
}

/* line 244, ../sass/main.scss */
#progressContainer.paper-progress {
  height: 7px !important;
}

/* line 249, ../sass/main.scss */
paper-button.action {
  background: #cc0000;
  color: #fff;
}
